* {
    font-family: "Times New Roman";
}

.errorBorder {
    color: red;
}

h1 {
    padding-top: 30px;
    text-align: center;
}
span {
    padding-top: 30px;
    text-align: center;
}

form {
    text-align: center;
}

#register_link {
    text-align: center;
}

#register_seller_link {
    text-align: center;
}


#register_back {
    margin: 5px;
}