* {
    font-family: "Times New Roman";
    /* background-color: yellow; */
}

.errorBorder {
    color: red;
}

.navbar {
    background-color: rgb(231, 245, 250);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}



/* padding top for navbar, so it doesn't cut off the content */

.main_content {
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin: 3px;
}

#navbar_items_right {
    text-align: right;
}

.img_thumbnail {
    margin: 7px;
    width: 100px;
    height: 100px;
}

.image_box {
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    width:200px;
    height:200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.category_field_box {
    font-size: 20px;
}
input[type='checkbox'] {
    width:20px;
    height:20px;
}
.trash_can {
    width: 50px;    
    height: 50px;
    margin: 7px;
}

.basket {
    width: 50px;    
    height: 50px;
    margin: 7px;
}
.star {
    margin: 7px;
    width: 50px;    
    height: 50px;
}


.item_even {
    background-color: rgb(220, 237, 243);
}

.item_odd {
    background-color: rgb(236, 222, 222);
}


.full_image {
    max-width:100%;
    max-height:100%;
}

.product_field_list {
    font-size: larger;
}
