{% extends "base.html" %}

{% block content %}

<h1> Add Item </h1>
{% if message %}
<h3>{{message}}</h3>
{% endif %}
<form action="/add_item" method="post" style="display:inline" novalidate>
    <div class='row'>
        <div class='col-12'>
            {{ form.hidden_tag() }}
            <p>
                {{ form.product_name.label }}<br>
                {{ form.product_name(size=32) }}<br>
                {% for error in form.product_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(size=32) }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.price.label }}<br>
                {{ form.price(size=32) }}<br>
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.in_stock.label }}<br>
                {{ form.in_stock(size=32) }}<br>
                {% for error in form.in_stock.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </div>
    </div>

</form>

{% endblock %}