{% extends "base.html" %}
{% block content %}

<div class='row'>
    <div class='col-12'>
        <h2> Basket: </h2>
    </div>
</div>

<form action='/checkout' method='post'>
    {% for item in basket_items %}
        {% if loop.index % 2 == 0 %}
            <div class='item_even'>
        {% else %}
            <div class='item_odd'>
        {% endif %}
                <div class="item_box">
                    <div class="row">
                        <div class='col-7'>
                            Name: {{item.product_name}} <br>
                            Price: &pound; {{item.price}} <br>
                            In Stock: {{item.in_stock}} <br>
                            Description: {{item.description[:100]}}
                        </div>
                        <div class='col-3'>
                            <div class="vertical-center">
                                Amount:
                                <input type="number" name="product_{{item.product_id}}" step="1" value=1 min=0
                                    max={{item.in_stock}} id={{item.product_id}}>
                            </div>
                        </div>
                        <div class='col-2'>
                            <div class="vertical-center">
                                {% set trash_can = url_for('static', filename='trash_can.png') %}
                                <a href="/delete_from_basket/{{item.product_id}}">
                                    <img src="{{trash_can}}" class='trash_can'>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
        <br>
        <input class="btn btn-primary btn-sm" type="submit" value="Check Out">

</form>

{% endblock %}