{% extends "base.html" %}
{% block content %}

<h2> Found Items: </h2>
<div class="seller_item_list">
    {% for item in found_items %}
        {% if loop.index % 2 == 0 %}
            <div class='item_even'> 
        {% else %}
            <div class='item_odd'>
        {% endif %}
                <div class="item_box">
                    <div class="row">
                        <div class='col-9'>
                            Name: {{item.product_name}} <br>
                            Price: &pound; {{item.price}} <br>
                            In Stock: {{item.in_stock}} <br>
                            Description: {{item.description[:100]}}
                        </div>
                        <div class='col-3'>
                            <div class="vertical-center">
                                {% set basket = url_for('static', filename='basket.png') %}
                                <form action="/add_to_basket" method="post" style="display: inline;">
                                    <input type="hidden" name="item_id" value={{item.product_id}}>
                                    <input type="image" src="{{basket}}" class='basket'>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    {% endfor %}
</div>


{% endblock %}