{% extends "base.html" %}


{% block content %}
    <h1> Search an Item </h1>
    <form action="/item_search" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name(size=32) }}<br>
            {% for error in form.product_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.seller.label }}<br>
            {{ form.seller(size=32) }}<br>
            {% for error in form.seller.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price_min.label }}<br>
            {{ form.price_min(size=32) }}<br>
            {% for error in form.price_min.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price_max.label }}<br>
            {{ form.price_max(size=32) }}<br>
            {% for error in form.price_max.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.in_stock }} {{ form.in_stock.label }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
