<!DOCTYPE html>
<html>

<head>
    <!-- Import bootstrap and my style sheet -->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/login_page_styles.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Online Shop </title>
    {% endif %}
</head>

<body>
    <div class="main_content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>