{% extends "login_base.html" %}

{% block content %}
    <h1>Sign In</h1>
    {% if message %}
    <span style="color: blue;"> message </span>    
    {% endif %}
    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

    <div id="register_link">
        Don't have a user? 
        <a href='/register'>
            Register
        </a>
    </div>

{% endblock %}
