{% extends "base.html" %}

{% block content %}

<h1> User Settings: </h1>
{% if message %}
    <h3>{{message}}</h3>
{% endif %}
<form action="/user_settings" method="post" style="display:inline" novalidate>
    <div class='row'>
        <div class='col-12'>
            {{ form.hidden_tag() }}
            <p>
                {{ form.current_password.label }}<br>
                {{ form.current_password(size=32) }}<br>
                {% for error in form.current_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirm.label }}<br>
                {{ form.confirm(size=32) }}<br>
                {% for error in form.confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>


            <p>{{ form.submit(value="Edit") }}</p>
        </div>

    </div>

</form>

{% endblock %}

