<!DOCTYPE html>
<html>

<head>
    <!-- Import bootstrap and my style sheet -->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/styles.css"> 
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Online Shop </title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent"">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home" id="home_button_navbar"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item_search"> Search for an Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all_items"> All Items </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_item"> Add Item </a>
                </li>
                

            </ul>

            <div id="navbar_items_right">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/my_items" > My Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/basket" > Basket </a>
                    </li>
                    <li class="nav-item" >
                        <a href="/user_settings" class="nav-link" > Settings </a>
                    </li>
                    <li class="nav-item" id="logout_button_navbar">
                        <a href="/logout" class="nav-link" > Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>