{% if user_type == 'User' %}
    {% extends "base.html" %}
{% else %}
    {% extends "seller_base.html" %}
{% endif %}


{% block content %}

<div class='row'>
    <div class='col-5'>
        {% set img_src = url_for('static', filename=item.image_url) %}
            <img src="{{img_src}}" class='full_image'>
    </div>
    <div class='col-7'> 
        <h2> Product </h2>
        <div class="product_field_list">
            product_id: {{item.product_id}} <br>
            price: {{item.price}}  <br>
            in_stock: {{item.in_stock}}  <br>
            product_name: {{item.product_name}}  <br>
            description: {{item.description}}  <br>
            seller_id: {{item.seller_id}} <br>
        </div>
        {% if item.categories | length > 0 %}
        <h2> Categories </h2>
        <div class="category_list">
            {% for category in item.categories %}
                {{category.name}}
            {% endfor %}
        </div>        
        {% endif %}
    </div>
</div>

{% endblock %}