{% extends "base.html" %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h4>Error! The item became unavailable: {{item}}!</h4>
            <a class="btn btn-primary btn-sm" href='/basket'> Return to Basket </a>
        </div>
    </div>
</div>
{% endblock %}