{% extends "base.html" %}
{% block content %}


<div class='horizontal-center'>

    <h2> Total: {{total}}</h2>
    
    
    <form action='/pay' method='post'>
        <input type='hidden' name="prods" value='{{products}}'>
        <input type="number" name="card_number" id="card_number" pattern="[0-9]{16}" placeholder="card number" required>
        <input type="number" name="cvv" id="cvv" pattern="[0-9]{3}" placeholder="cvv" required>
        <input type="date" id="expiry_date" name="expiry_date">
        <input class="btn btn-primary btn-sm" type="submit" value="Pay">
        <a class="btn btn-primary btn-sm" href="/basket" style="background-color: grey;"> Cancel </a>
    </form>
</div>


{% endblock %}