{% extends "seller_base.html" %}

{% block content %}

<h1> Add Item </h1>
<form action="/add_item" method="post" enctype=multipart/form-data style="display:inline" novalidate>
    <div class='row'>
        <div class='col-5'>
            {{ form.hidden_tag() }}
            <p>
                {{ form.product_name.label }}<br>
                {{ form.product_name(size=32) }}<br>
                {% for error in form.product_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(size=32) }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.price.label }}<br>
                {{ form.price(size=32) }}<br>
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.in_stock.label }}<br>
                {{ form.in_stock(size=32) }}<br>
                {% for error in form.in_stock.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                Item image: <br>
                <input type=file name=file>
            </p>

            <p>{{ form.submit() }}</p>
        </div>

        <div class='col-7'>
            <h3>
                Category List:
            </h3>
            <br>
            <div class="form-check" style="display: inline;">
                {% for category in all_categories %}
                <div class='category_field_box'>
                    <input class="form-check-input" type="checkbox" id="category_{{category.category_id}}"
                        name="category_{{category.category_id}}" value="category_{{category.category_id}}">
                    &nbsp; &nbsp;
                    <label class="form-check-label">
                        Product Category: {{category.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</form>

{% endblock %}