{% extends "login_base.html" %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col">
            <h4>
                Your login or password is incorrect <br>
                <a href='/login'> Try again </a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}