{% extends "base.html" %}
{% block content %}

<h2> Favourite Items: </h2>
<div>
    {% for item in favourite_items %}
        {% if loop.index % 2 == 0 %}
            <div class='item_even'> 
        {% else %}
            <div class='item_odd'>
        {% endif %}
                <div class="item_box">
                    <div class="row">
                        <div class='col-3'>
                            <div class='image_box'>
                                {% set img_src = url_for('static', filename=item.image_url) %}
                                <form action="/item" method="post">
                                    <input type="hidden" name="item_id" value={{item.product_id}}>
                                    <input type="image" src="{{img_src}}" class='img_thumbnail'>
                                </form>
                            </div> 
                        </div>
                        <div class='col-7'>
                            Name: {{item.product_name}} <br>
                            Price: &pound; {{item.price}} <br>
                            In Stock: {{item.in_stock}} <br>
                            Description: {{item.description[:100]}}
                        </div>
                        <div class='col-1'>
                            <div class="vertical-center">
                                {% set trash_can = url_for('static', filename='unstar.jpg') %}
                                <form action="/unstar" method="post">
                                    <input type="hidden" name="item_id" value={{item.product_id}}>
                                    <input type="image" src="{{trash_can}}" class='trash_can'>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    {% endfor %}
</div>


{% endblock %}