{% extends "base.html" %}
{% block content %}


<div class='horizontal-center'>

    <h2> Total: {{total}}</h2>
    
    
    <form action='/pay' method='post'>
        <input type='hidden' name="prods" value='{{products}}'>
        <input class="btn btn-primary btn-sm" type="submit" value="Pay">
        <a class="btn btn-primary btn-sm" href="/basket" style="background-color: grey;"> Cancel </a>
    </form>
</div>


{% endblock %}