{% extends "seller_base.html" %}

{% block content %}
    <h1> Search an Item </h1>
    <form action="/search_your_items" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name(size=32) }}<br>
            {% for error in form.product_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category.label }}<br>
            {{ form.category(size=32) }}<br>
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.in_stock.label }}<br>
            {{ form.in_stock(size=32) }}<br>
            {% for error in form.in_stock.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
