{% extends "base.html" %}

{% block content %}

<h1> User Settings: {{my_user.username}} </h1>
<form action="/user_settings" method="post" style="display:inline" novalidate>
    <div class='row'>
        <div class='col-12'>
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirm.label }}<br>
                {{ form.confirm(size=32) }}<br>
                {% for error in form.confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=32, value=my_user.firstname) }}<br>
                {% for error in form.firstname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.surname.label }}<br>
                {{ form.surname(size=32, value=my_user.surname) }}<br>
                {% for error in form.surname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit(value="Edit") }}</p>
        </div>

    </div>

</form>

{% endblock %}

